<form method="POST" action="/new">
    <h1>Enter your name and message:</h1>
    <span>Name:</span>
    <input type="text" name=name>
    <br>
    <span>Message:</span>
    <textarea name=message></textarea>
    <br>
    <button type="submit">Submit Message</button>
</form>