<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
   <h1><%= title %></h1> 
   <ul>
       <% messages.forEach( (message) => { %>
        <li>
            <%= message.text %>
            <%= message.user %>
            The current date is: <%= message.added %>
        </li>
        <% }) %>
   </ul> 
</body>
</html>